{# src/JuniorDashboard/GestionAdminBundle/Resources/views/Admin/utilisateurs.html.twig #}

{% extends "JuniorERPDashboardBundle:Admin:layout.html.twig" %}

{% block sidebar_list %}
	<li><a href="{{ path('JuniorERPDashboardBundle_admin_index') }}"><span class="nav-icon dboard-icon"></span> Home</a></li>
	<li><a href="{{ path('JuniorERPDashboardBundle_admin_utilisateur_index') }}" class="active"><span class="nav-icon typo-icon"></span> Utilisateurs  <span class="active-nidicator">&nbsp;</span></a></li>
	
{% endblock %}

{% block content %}

<div id="content">
	<div class="container_12">
	<div class="widget-panel grid_12">
		<div class="widget-top">
			<h4>Liste des utilisateurs</h4>
		</div>
		<div class="widget-content module">
			<table class="display data-table">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prenom</th>
						<th>E-mail</th>
						<th>Portale</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
					<tr>
						<td>{{ user.username }}</td>
						<td></td>
						<td>{{ user.email }}</td>
						<td>{{ user.portable }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	</div>
</div>

{% endblock %}